@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Custom Styles */

@layer components {

  /* General text (b = bold, n = normal) : */

  .text-b-13 {
    @apply font-bold text-[13px] text-blue-deep;
  }
  .text-b-14 {
    @apply font-bold text-[14px] text-blue-deep;
  }
  .text-b-16 {
    @apply font-bold text-[16px] text-blue-deep;
  }
  .text-b-18 {
    @apply font-bold text-[18px] text-blue-deep;
  }
  .text-b-20 {
    @apply font-bold text-[20px] text-blue-deep;
  }
  .text-b-24 {
    @apply font-bold text-[24px] text-blue-deep;
  }
  .text-n-13 {
    @apply font-normal text-[13px] text-grey-light;
  }
  .text-n-14 {
    @apply font-normal text-[14px] text-white-dark;
  }
  .text-n-15 {
    @apply font-normal text-[15px] text-grey-light;
  }
  .text-n-16 {
    @apply font-normal text-[16px] text-grey-light;
  }
  .text-sb-13 {
    @apply font-semibold text-[13px] text-blue-normal;
  }
}

html,
body {
  padding: 0;
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Button Component*/

:root{
  --purple : #AD1FEA;
  --blue: #4661E6;
  --delete : #D73737;
  --cancel: darkblue;
}

.btn {
  border-radius: 10px;
  color:white;

}
/*.btn:hover{
  opacity: 60%;
}

/*buttonStyle*/
.btn--violet{
  background-color: var(--purple);
}
.btn--blue{
  background-color: var(--blue);
}
.btn--delete{
  background-color: var(--delete);
}

.btn--delete:hover{
  background-color: #E98888 ;

}
.btn--cancel{
  background-color: var(--cancel);
}
/*buttonSize*/
.btn--large{
  padding: 0.5rem 1.5rem;
  font-weight: 500;
}
.btn--medium{
  padding: 0.5rem 0.8rem;
  font-weight: 600;
  font-size: 12px;
}