@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text {
    @apply font-bold text-[1.125rem] text-blue-deep;
  }
}

html,
body {
  padding: 0;
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Button Component*/

:root{
  --purple : #AD1FEA;
  --blue: #4661E6;
  --delete : #D73737;
  --cancel: darkblue;
}

.btn {
  border-radius: 10px;
  color:white;

}
/*.btn:hover{
  opacity: 60%;
}

/*buttonStyle*/
.btn--violett{
  background-color: var(--purple);
}
.btn--blue{
  background-color: var(--blue);
}
.btn--delete{
  background-color: var(--delete);
}

.btn--delete:hover{
  background-color: #E98888 ;

}
.btn--cancel{
  background-color: var(--cancel);
}
/*buttonSize*/
.btn--large{
  padding: 0.5rem 1.5rem;
  font-weight: 500;
}
.btn--medium{
  padding: 0.5rem 0.8rem;
  font-weight: 600;
  font-size: 12px;
}