/*Jost - Google font family*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Button Component*/

:root{
  --purple : #AD1FEA;
  --blue: #4661E6;
  --delete : red;
  --cancel: darkblue;
}

.btn {
  border-radius: 10px;
  color:white;

}
.btn:hover{
  opacity: 60%;
}

/*buttonStyle*/
.btn--violett{
  background-color: var(--purple);
}
.btn--blue{
  background-color: var(--blue);
}
.btn--delete{
  background-color: var(--delete);
}
.btn--cancel{
  background-color: var(--cancel);
}
/*buttonSize*/
.btn--large{
  padding: 0.5rem 1.5rem;
  font-weight: 500;
}
.btn--medium{
  padding: 0.5rem 0.8rem;
  font-weight: 600;
  font-size: 12px;
}